<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thepoweroftether.interactivetraining">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_launcher"
        android:label="Gobs Enlightenment"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity android:name=".MainActivity" />
        <!-- Splash screen -->
        <activity
            android:name=".SplashScreen"
            android:label="Gobs Enlightenment"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AdminActivity" />
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity android:name=".LearningModule" />
        <activity android:name=".AllAccountActivity" />
        <activity
            android:name=".EditAccountActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".UploadModuleActivity" />
        <activity android:name=".AllExcerciseActivity" />
        <activity android:name=".CreateExcerciseActivity" />
        <activity android:name=".MemberExcerciseActivity" />
        <activity android:name=".ExcerciseResultActivity"></activity>
    </application>

</manifest>